<p id="notice"><%= notice %></p>
<div class="container">

  <div class="row">
    <div class="col-md-3">
      <h2><%= @article.title %></h2>
      <p><%= @article.content %></p>
      <p>
        <%= link_to 'Edit', edit_article_path(@article) %> |
        <%= link_to 'Destroy', @article, data: { confirm: 'Are you sure?' }, method: :delete %> |
        <%= link_to 'Back', articles_path %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4>Comments</h4>
      <% @comments.each do |comment| %>
        <div>
          <p><%= comment.body %></p>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
      <%= render 'comments/form' %>
    </div>
  </div>

</div>